<mat-card class="main-header">
  <div class="header-left">
    <mat-icon>menu</mat-icon>
    <img src="assets/logo.png" class="image-header">
  </div>
  <div style="align-items: center;display:flex;" class="project-option">
    <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">Projects</button>
    <mat-icon class="icon-ext">expand_more</mat-icon>
  </div>

  <ng-template #menu class="example-menu-container">
    <div class="example-menu" cdkMenu>
      <div class="SearchInput">
        <fa-icon [icon]="filtericon" class="icon-color"></fa-icon>
        <input type="text" [(ngModel)]="searchText" placeholder="Filter" class="serachtextinput">
      </div>
      <button class="example-menu-item" cdkMenuItem
        *ngFor="let inspectionType of inspectionTypes | filter : searchText "
        [value]="inspectionType.inspection_type_id">{{inspectionType.description}}</button>
    </div>
  </ng-template>

  <div class="header-right">
    <mat-icon class="mat-not">notifications_none</mat-icon>

    <button mat-button [matMenuTriggerFor]="menutwo" class="loginbtn loginbtn-desk">First Last name<mat-icon class="icon-ext">expand_more</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menutwo" class="loginbtn-mob">
      <fa-icon [icon]="usericon" class="icon-user"></fa-icon>
    </button>
    <mat-menu #menutwo="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</mat-card>